
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e5e5e5;
}

.d-none {
  display: none;
}

.error-message {
  color: #fff;
  margin-top: 20px;
  text-shadow: 2px 3px 1px #0d151e;
  font-size: 20px;
}

.desktop-menu,
.desktop {
  display: none;
}

.navbar {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #fff;
  position: fixed;
  width: 100vw;
  top: 0;
}

.my-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
}

.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px auto;
  margin-right: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #6070ff;
}

.headline {
  background: #fff url("../images/header-shapes-mobile.png") no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 75px;
  padding: 55px 20px 0;
  margin-top: 50px;
}

.headline h1 {
  width: 230px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.headline .content {
  font-style: normal;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 24px;
  color: #344563;
  margin: 15px 0;
}

.connect {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 24px;
  color: #7f8cff;
  text-transform: uppercase;
}

.myself,
.info,
.connect,
.social-media,
.resume-btn {
  margin: 10px 0;
}

.headline .connect {
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 24px;
  color: #7f8cff;
  margin: 15px 0;
}

.social-media {
  display: flex;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
}

.headline .social-media {
  list-style: none;
  margin: 0;
  padding: 0;
}

.headline .social-media li {
  display: inline;
  margin: 0 4%;
  font-size: 2em;
}

.headline i {
  color: #505f79;
  margin-bottom: 58%;
}

.work {
  display: grid;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  padding: 15px;
  margin: 50px 20px;
}

.work img {
  width: 100%;
  height: auto;
}

.card-contents {
  display: flex;
  flex-direction: column;
}

.work .card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.1em;
  line-height: 44px;
  width: 65%;
  color: #172b4d;
  margin: 3px 0;
}

.counter span:first-of-type {
  color: #344563;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 0;
  margin: 30px 0 30px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.counters {
  width: 10px;
  height: 10px;
  background-color: #c1c7d0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 8px;
}

.work .card-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  margin: 5px 0;
  color: #344563;
}

.techs {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.techs .techs-item {
  display: inline-block;
  background: #ebebff;
  border-radius: 8px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 5px 10px;
  margin-right: 5px;
}

.techs-link {
  text-decoration: none;
  display: block;
  color: #6070ff;
}

.work .work-btn {
  width: 149px;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #396df2;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0 20px 0;
}

.work .work-btn:hover {
  color: #dfe1e6;
  background-color: #6070ff;
  border: 1px solid #6070ff;
  font-weight: 100;
  width: 175px;
  transition: all 0.5s ease-in-out;
  box-shadow: 2px 4px 3px #0d151e;
}

.contact {
  border-top-left-radius: 105px;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  background: #6070ff url(../images/contact-form-shapes-mobile.png) no-repeat center;
  background-size: 100% 90%;
  margin-top: 25%;
}

.contact-me {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 2.2em;
  line-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-top: 50%;
}

.contact-info {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ebebff;
  margin: 0 auto;
}

.form button {
  align-items: center;
  justify-content: center;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
  padding: 12px;
  width: 142px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1em;
  outline: none;
  border: none;
}

.btn:hover {
  color: #dfe1e6;
  background-color: #6070ff;
  border: 1px solid #dfe1e6;
  font-weight: 100;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

label {
  display: block;
}

input,
textarea {
  width: 320px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

.shape {
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  bottom: 8px;
  margin: 14% auto 2%;
}

a {
  color: #000;
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  border-top-right-radius: 110px;
}

.about-me,
.categories {
  flex-basis: 50%;
}

.about-me {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0;
}

.myself {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 24px;
  color: #344563;
  margin: 10px 0;
}

.social-media-lists {
  margin: 0 10px;
  font-size: 25px;
}

.resume-btn:hover {
  color: #dfe1e6;
  background-color: #6070ff;
  border: 1px solid #6070ff;
  font-weight: 100;
  width: 175px;
  transition: all 0.5s ease-in-out;
  box-shadow: 2px 4px 3px #0d151e;
}

.resume-btn a {
  text-decoration: none;
  color: #6070ff;
}

.see-live a,
.see-source a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #396df2;
}

.resume-btn:hover a {
  color: #dfe1e6;
}

.category1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  font-size: 1.3em;
  margin: 20px 0;
}

.about-me button {
  width: 140px;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8em;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #396df2;
  border-radius: 10px;
  height: 50px;
  margin: 20px 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

.list-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 10px;
  width: 100%;
  padding: 2px 5px;
  margin: 5px 0;
}

.list-items p {
  margin-left: 16px;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
  padding: 5px;
  flex-wrap: nowrap;
}

.skills-list p {
  background-color: silver;
  border-radius: 10px;
  color: #0c0c0c;
  padding: 5px;
  font-size: 16px;
  width: 100%;
}

.lang,
.frame,
.skill,
.angle {
  font-size: 18px;
}

hr {
  width: 100%;
}

.rotate {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.angle1,
.angle2,
.angle3 {
  cursor: pointer;
  margin-left: 65px;
}

@media only screen and (min-width: 768px) {
  .about {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    margin: 0 auto 5%;
  }

  .about-me,
  .categories {
    flex-basis: 50%;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
  }

  .myself,
  .info,
  .connect,
  .social-media,
  .resume-btn {
    margin: 10px 0;
  }

  .myself {
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    color: #172b4d;
  }

  .info {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    color: #344563;
  }

  .connect {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4em;
    line-height: 24px;
    color: #7f8cff;
    text-transform: uppercase;
  }

  .social-media {
    display: flex;
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
  }

  .social-media-lists {
    margin: 0 10px;
    font-size: 20px;
  }

  .resume-btn:hover {
    color: #dfe1e6;
    background-color: #6070ff;
    border: 1px solid #6070ff;
    font-weight: 100;
    width: 175px;
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 4px 3px #0d151e;
  }

  .resume-btn a {
    text-decoration: none;
    color: #6070ff;
  }

  .resume-btn:hover a {
    color: #dfe1e6;
  }

  .categories {
    padding: 40px 30px 30px 30px;
  }

  .category1 {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .about-me button {
    width: 140px;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8em;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    background-color: #fff;
    padding: 8px;
    border: 1px solid #396df2;
    border-radius: 10px;
    height: 50px;
    margin: 30px 0 20px 0;
  }

  .list {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
  }

  .list-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: silver;
    width: 100px;
    height: 110px;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    margin-left: 15px;
  }

  .skills-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
    padding: 15px;
    flex-wrap: nowrap;
    margin-left: 10px;
  }

  .skills-list p {
    background-color: silver;
    border-radius: 10px;
    color: #0c0c0c;
    padding: 5px;
    font-size: 20px;
  }

  .lang,
  .frame,
  .skill,
  .angle {
    font-size: 25px;
  }

  hr {
    width: 93%;
  }

  .rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
  }

  .d-none {
    display: none;
  }

  .angle1,
  .angle2,
  .angle3 {
    cursor: pointer;
    margin-right: 20px;
  }
}

/* Mobile Menu */
@media only screen and (max-width: 768px) {
  .my-logo {
    display: none;
  }

  .mobile-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .mobile-menu.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
    background-color: white;
  }

  .mobile-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: white;
  }

  .desktop-menu {
    position: fixed;
    left: -100%;
    display: block;
    top: 0;
    gap: 0;
    width: 100%;
    transition: 0.3s;
    margin-left: 0;
    padding-top: 50px;
  }

  .desktop-menu.active {
    width: 100vw;
    height: 100vh;
    left: 0;
    background-color: #6070ffc2;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    margin-top: -2px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .nav-link {
    color: white;
    font-size: 2em;
    font-weight: 500;
    text-decoration: none;
  }

  .nav-item {
    padding-bottom: 15px;
    margin: 16px 20px;
    list-style-type: none;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .navbar {
    background-color: rgb(105, 63, 202);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0;
    top: 0;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    color: white;
    box-shadow: 2px 5px 3px rgb(88, 81, 81);
  }

  .navbar.scrolled {
    background-color: #fff;
    box-shadow: 2px 5px 3px #344563;
  }

  .navbar.scrolled a {
    color: #344563;
  }

  .mobile-menu,
  .mobile,
  .shape {
    display: none;
  }

  .desktop-menu,
  .desktop {
    display: block;
  }

  .desktop-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .nav-item {
    transition: color 0.3s;
    margin: 0 3px;
    padding: 40px 20px;
    position: relative;
  }

  .desktop-menu .nav-item {
    display: inline-block;
  }

  .nav-item::before {
    content: "";
    position: absolute;
    bottom: 18px;
    left: 24px;
    width: 0;
    height: 2px;
    background-color: rgb(116, 116, 223);
    transition: width 0.3s;
  }

  .nav-item:hover::before {
    width: 65%;
  }

  .divider {
    opacity: 0.1;
    height: 1px;
    width: 100%;
    background-color: white;
  }

  .nav-link {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 20px;
    text-align: center;
  }

  .headline {
    background: #fff url("../images/Header-desktop.png") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 75px;
    padding: 10% 18%;
    margin: 50px 0 50px 0;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .headline .greeting {
    width: 5%;
  }

  .headline .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headline .social-media li {
    margin: 0 25px;
  }

  .headline i {
    color: #505f79;
    margin-bottom: 5%;
  }

  .headline .connect {
    font-size: 1.5em;
  }

  .work {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #dfe1e6;
    padding: 15px;
    margin: 5em;
  }

  .work:nth-child(even) {
    flex-direction: row-reverse;
  }

  .work img {
    width: 100%;
    height: 100%;
  }

  .img-card,
  .card-contents {
    width: 50%;
  }

  .card-contents {
    padding: 30px;
  }

  .card-title,
  .counter,
  .card-desc,
  .techs,
  .work-btn {
    margin: 35px 0;
  }

  .contact {
    background: #6070ff url(../images/contact-form-desktop.png) no-repeat;
    background-size: contain;
    border-top-left-radius: 105px;
    padding: 8%;
    margin-top: 3em;
  }

  .contact .contact-me {
    font-style: normal;
    font-weight: 700;
    font-size: 3.1em;
    line-height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin: 18px 0;
  }

  .contact-info {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    margin: 0 auto;
    width: 70%;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  input,
  textarea {
    width: 500px;
  }

  .headline .content {
    animation-duration: 3s;
    animation-name: slidein;
    width: 80%;
  }

  .my-logo:hover {
    font-size: 2em;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-shadow: 2px 3px 3px #172b4d;
  }
}

/* mobile popup section */
.popup-container {
  background-color: silver;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.popup-contents {
  background-color: #fff;
  width: 90%;
  height: auto;
  margin: 100px auto;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 20px;
}

.close-popup {
  position: absolute;
  top: 120px;
  right: 35px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  color: silver;
}

.popup-title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.1em;
  line-height: 44px;
  width: 65%;
  color: #172b4d;
  margin: 3px 0;
}

.popup-img {
  width: 100%;
  height: auto;
}

.popup-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  margin: 5px 0;
  color: #344563;
}

.live-source {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

.see-live,
.see-source {
  border: 1px solid #396df2;
  border-radius: 5px;
  padding: 7px;
  width: 130px;
  background-color: #fff;
}

/* Desktop popup section */
@media (min-width: 768px) {
  /* .mobile-popup-img, */
  .desktop-popup-img {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }

  .popup-contents {
    width: 70%;
    padding: 30px;
  }

  .close-popup {
    position: absolute;
    top: 150px;
    right: 280px;
    font-size: 40px;
    cursor: pointer;
    font-weight: 500;
    color: silver;
  }

  .desktop-popup-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left-popup-contents {
    width: 95%;
  }

  .right-popup-contents {
    display: flex;
    flex-direction: column;
  }

  .live-source {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 15px;
  }

  .typewriter {
    overflow: hidden;
    border-right: 2px solid #172b4d;
    white-space: nowrap;
    font-size: 20px;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 3.5s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
  }

  /* Typing animation */
  @keyframes typing {
    from { width: 0; }
    to { width: 50%; }
  }

  /* Blinking cursor animation */
  @keyframes blink-caret {
    from,
    to { border-color: transparent; }
    50% { border-color: #172b4d; }
  }

  .legend {
    max-width: 60px;
    max-height: 60px;
    width: auto;
    height: auto;
  }

  .resume {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #396df2;
    overflow-y: auto;
  }
}
